input, select {
	font-family: "Roboto", sans-serif;
	font-size: 120%;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 8px;
	outline: none;
	padding: 5px 7px;
	width: 300px;
	z-index: 999;
	box-sizing: border-box;
}
input:hover, input:focus,
select:hover, input:focus {
	background-color: rgba(255,255,255,0.2);
}

input[type=text], input[type=password], select {
	margin-bottom: 6px;
}

option, optgroup {
	color: white;
	background: rgb(40,40,40);
}

input[type=submit] {
	cursor: pointer;
	float: right;
	width: auto;
	font-variant: small-caps;
	transition: transform 0.1s ease;
}
input[type=submit]:active {
	transform: scale(0.85);
}

form {
	display: inline-block;
}

#logincontainer {
	padding-top: 180px;
	text-align: center;
	position: relative;
}

#loginlogocontainer {
	position: absolute;
	top: 10px; left: -100px; right: -100px;
}
#loginlogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 560px; height: 560px;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

h1 {
	font-family: 'Montserrat Subrayada', sans-serif;
	margin: 0px;
}
h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
	margin-left: 25px;
	margin-top: -10px;
	margin-bottom: 13px;
}
#by {
	float: left;
	font-size: 75%;
	opacity: 0.5;
}
